.tituloPrincipal{

    padding-left: 30px;

}

#banner{

    width: 100%;

}

.principal{

    background-color: #CCCCCC;
    padding: 20px;

}

.tituloCentralizado{

    text-align: center;

}

p{

    text-align: center;
    background-color: #CCCCCC;

}

#mision{

    font-size: 20px;

}

em strong{

    color: rgb(255,0,0);

}

.diferenciales{

    background: #FFFFFF;
    padding: 20px;
    

}

.items{

    font-style: italic;

}

ul{

    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 12%;

}

.imagenDiferenciales{

    width: 30%;
        
}